body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 60px;
    background-color: rgb(8, 8, 73);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
}
header a {
    margin: 10px;
    color: white;
    text-decoration: none;
}
header h3 {
    color: white;
}
header a:hover {
    text-decoration: underline;
}


h1{
    text-align: center;
    color: rgb(225, 0, 34);
}
.herocon {
    text-align: center;
    /* padding: 10px; */
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 50vh;
    background-position: center;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 49vh;
    color: white;
    padding-top: 10px;
}

img {
    width: 450px;
    height: 400px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}
footer{
    height: 50px;
    background-color: rgb(16, 16, 75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}